<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
      <div class="row">
        <h2>Gestor de clientes</h2>
        <button type="button" on-click="obtenerClientes" class="btn btn-primary">Obtener clientes</button>
        <button type="button" on-click="InsertarCliente" class="btn btn-outline-dark" name="button">Insertar Clientes</button>
      </div>
      <div class="row">
        <table class="table table-striped">
            <tbody>
              <template is="dom-repeat" items="{{clientes}}">
                  <tr>
                    <td>[[item.Idcliente]]</td>
                    <td>[[item.nombre]]</td>
                    <td>[[item.apellido]]</td>
                  </tr>
              </template>
            </tbody>
        </table>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
        //request.open('GET', "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);

        request.open("GET", "http://localhost:3002/Clientes", false);
        request.send();

        //this.clientes=JSON.parse(request.responseText).value;
        this.clientes=JSON.parse(request.responseText);
        console.log(this.clientes);
      }

      insertarClientes(){
        var request = new XMLHttpRequest();
        request.open('POST', "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept" , "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var nuevoCliente={"CustomerID": "12345", "ContactName": "Pepe", "CompanyName": "Pepes erotik shop"};
        var body=JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta=request.responseText;
        console.log(this.respuesta);
      }

    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
